body {     
      padding-top: 60px;
      padding-left: 20px;
      padding-right: 20px;
}

h1,p, .centerContainer{
      text-align: left;
}

#date {
      font-size: 25px; 
}

.tableLeft {
      width: 40%;
      padding: 20px;
      background-color: rgb(224, 212, 212);
}

.tableRight {
      width: 60%;
}

/* #my_dataviz {
      background-color: coral;
} */

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}