body {     
      padding-top: 40px;
      padding-left: 100px;
      padding-right: 50px;
}

#mapContainer {     
}

h1,p, .centerContainer{
      text-align: left;
}

#date {
      font-size: 25px; 
}

.tableLeft {
      width: 30%;
}

.tableRight {
      padding: 15px;
      width: 70%;
}


.worldmap_tooltip{
      width:200px;
      height:90px;
      padding:1px;
      border-radius:4px;
      text-align: center;
}
.worldmap_tooltip_title{
      width:100%;
      height:20%;
      border-bottom:1px solid black;
      font-size: 12px;
      line-height: 20px;
      font-weight: bold;
}
.worldmap_tooltip_data_label{
      text-align: center;
      width:80%;
      font-size: 11px;
      font-weight:bold;
}


